<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <title>Spiral Matrix</title>
        
    </head>
    <body>
        <div class="in" >
            <h1>Spiral Matrix</h1>
            <form method="get" action="/matrix" id="pass">
                <input id="num" type="text" name="number" placeholder="please enter an integer" onfocus="this.value=''">
                <input type="submit" class="btn">Get Spiral Matrix!</button>
                <table>
                        <tbody id="tableBody">
                                <% array.forEach(rowData => { %>
                                    <tr>
                                        <% rowData.forEach(x => { %>
                                            <td style="border: 1px solid black;">
                                                <%=x%>
                                            </td>
                                            <% }); %>
                                    </tr>
                               <% }); %>
                        </tbody>
                    </table>
                
            </form>
        </div>
    </body>
    <style>
        table {
    
    font-size: 150%;
    margin-top: 10px;
    margin: 10px auto;
    border: 1px solid black;
    border-collapse: collapse
}
td {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    text-align: center
}
.in{
    text-align: center;
    margin: 30px auto 0 auto;
}
#num {
    height: 30px;
}
.btn {
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color: red
}

p {
    text-align: center;
}
    </style>
</html>

